@model MyCommunity.ViewModels.PartialGroupsViewModel

<script>
    $(function() {
        $("#newGroupPopup").dialog({
            autoOpen: false,
            open: function(event, ui) {
                $(this).load("@Url.Action("CreateGroupPartial")");
            }
        });
        $("#newGroupButton").button().click(function () {
            $("#newGroupPopup").dialog("open");
        });
    });

</script>

<p>Groups</p>

<ul>
    @foreach (var group in Model.Groups)
    {
        <li>@Html.ActionLink(group.Value, "Group", new {id=group.Key})</li>
    }
</ul>
<button id="newGroupButton">Create Group</button>
<div id="newGroupPopup" title="Dialog Title"></div>