@model MyCommunity.ViewModels.MessageViewModel

<div class="ui-corner-all"  style="border: 1px solid darkgray; padding: 5px; margin-top: 3px;margin-bottom:3px;">
    <p>From: @Model.From</p>
    <p>
        @Model.Message
    </p>
</div>
