@model MyCommunity.ViewModels.BrowseCampaignsViewModel
<script>
    $(function () {
        $("#newCampaignPopup").dialog({
            autoOpen: false,
            open: function (event, ui) {
                $(this).load("@Url.Action("CreateCampaignPartial")");
            }
        });
            $("#newCampaignButton").button().click(function () {
                $("#newCampaignPopup").dialog("open");
            });
        });
</script>
@{
    ViewBag.Title = "BrowseCampaigns";
}

<h2>BrowseCampaigns</h2>
@foreach (var camp in Model.Campaigns)
{
    <p> @camp.Value - 
    @Html.ActionLink("Join","JoinCampaign",new {id=camp.Key})</p>
}
<button id="newCampaignButton">Create Campaign</button>
<div id="newCampaignPopup" title="Dialog Title"></div>
    