@model MyCommunity.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="menu">
                    @Html.Partial("_MenuPartial")
                    @Html.Partial("_GroupsPartial",Model.Groups)
                    @Html.Partial("_CampaignPartial", Model.Campaigns)
                </div>
                <div id="homeBody"><h2>@Model.CommunityName</h2>
<p>yada yada</p></div>


